*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: darkcyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 100px;
    width: 180px;
    margin-left: 0px;
    margin-right: 320px;
}
.menu-items{
    padding: 30px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    padding: 30px;
    font-size: 30px;
}
.items{
    margin: 20px;
}
.items:hover{
    color: red;
    cursor: pointer;
}
.banner-container{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.banner-title{
    font-weight: bold;
    font-size: 30px;
    color:  red;
}
.btn-primary{
    background-color: rgb(0, 255, 13);
    padding: 15px;
    border-radius: 2px;
    font-weight: bold;

}
.btn-primary:hover{
    color: orange;
    cursor: pointer;

}
.section-title{
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    color:black;
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(90, 3, 3);
    padding: 15px;
}
.about-description{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}
.text{
    color:white;
    font-size: 20px;

}
.banner-img{
    height: 550px;
    width: 100px;
    margin-top: 300px;
}